# Private Key of the wallet used for deployment (NEVER commit your private key in public repos)
PRIVATE_KEY=9f4f480bdf04b7e438f399f9bf1eae686995772b1ca73084f321af033f0a4b29

# URLs for Polygon and Sepolia providers (you can use Infura, Alchemy, or other services)
POLYGON_PROVIDER_URL=https://polygon-rpc.com   # Polygon Mainnet RPC URL
SEPOLIA_PROVIDER_URL=https://1rpc.io/sepolia  # Sepolia Testnet RPC URL
AMOY_PROVIDER_URL=https://rpc-amoy.polygon.technology  # Amoy Testnet RPC URL


# Etherscan API Keys (you can get these from https://etherscan.io/ for Sepolia and PolygonScan for Polygon)
POLYGON_ETHERSCAN_API_KEY=PB8M4UZG7WQ1WK5UBNFQ6N7298UYF5EC7G
AMOY_ETHERSCAN_API_KEY=PB8M4UZG7WQ1WK5UBNFQ6N7298UYF5EC7G
SEPOLIA_ETHERSCAN_API_KEY=GWI3ARVRR1ZV81VCKDVDXWUIDUGC1ZDPMX
